<div class="footer-container">
  <div class="footer-brand">
    <a href="/" class="footer-logo">PaperLens</a>

    <p class="footer-description">Scientific simplified literature.</p>
  </div>

  <div class="footer-source">
    <p>
      Data provided by
      <a href="https://openalex.org/" target="_blank" rel="noopener noreferrer">
        OpenAlex
      </a>
      and
      <a
        href="https://www.crossref.org/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Crossref
      </a>
    </p>

    <p>&copy;2026 PaperLens</p>
  </div>
</div>
